* {
  /* margin: 0;
  padding: 0;
  list-style: none; */

  /* outline: 1px solid #f73; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --color-primary: #00FFA3;
  --color-secondary: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  ;

  --color-black: #000000;
  --color-grey: #E3E3E3;
  --color-icon: #1C1B1F;
  --color-white: #FFFFFF;
  --color-dark: #15161D;
  --color-light: #D1D1D1;

  --txt-xl: 128px;
  --txt-lg: 40px;
  --txt-base: 32px;
  --txt-sm: 24px;
  --txt-xs: 20px;
}

html,
body {
  font-family: 'Bruno Ace SC', 'Bruno Ace', cursive, 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: var(--txt-base);
  line-height: 1.5;

  color: var(--color-white);
  background: var(--color-black);
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

a, img {
  transition: linear .4s;
}

img:hover,
a:hover {
  opacity: 0.9;
}

.material-symbols-outlined {
  font-size: inherit;
}

.h-full {
  height: 100%;
}

.w-half {
  width: 50%;
}

.w-two-fifth {
  width: 40%;
}


.p-4 {
  padding: 16px;
}


.pt-10 {
  padding-top: 40px;
}


.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-18 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-40 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}


.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}



.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}


.font-xl {
  font-size: var(--txt-xl);
}

.font-xl-half {
  font-size: calc(var(--txt-xl) / 2);
}

.font-sm {
  font-size: var(--txt-sm);
}

.font-xs {
  font-size: var(--txt-xs);
}

.font-2xs {
  font-size: calc(var(--txt-base) / 2);
}


.text-primary {
  color: var(--color-primary);
}

.text-light {
  color: var(--color-light);
}

.text-dark {
  color: var(--color-dark);
}

/* #REVIEW */
.theme-white {
  color: var(--color-black);
  background: var(--color-white);
}

.theme-black {
  color: var(--color-white);
  background: var(--color-black);
}

.border-radius-8 {
  border-radius: 32px;
}


/* end of base */

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* end of utility */

/* QQ */

.hero-img {
  /* width: 636px;
  height: 848px; */
}

.sparkle-sm {
  width: 32px;
  height: 98px;
}

.sparkle,
.photographer {
  width: 196px;
  height: 600px;
}

.people-2 {
  width: 306px;
  height: 600px;
}

.intro {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/background-img.png);
}

/* .discord {
  transform: scale(.94);
} */

.discord, .instagram, .message {
  width: 162px;
  height: 162px;

  border-radius: 40px;
}

/* .instagram, .message {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* QQ */
.sns-icon-list li:hover {
  border-radius: 40px;
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.90), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}


.project-10 {
  /* width: 856px;
  height: 196px; */
}

/* end of img */


.btn-contact .material-symbols-outlined {
  color: var(--color-icon);
}

/* #REVIEW */
.btn-contact .material-symbols-outlined,
.btn-more-info .material-symbols-outlined {
  /* width: 24px;
  height: 24px; */
}

.contact-txt .material-symbols-outlined {
  /* width: 100px;
  height: 100px; */
}

/* end of icons */


.nav {
  height: 88px;
}

.hero {
  height: calc(100vh - 88px);
}

.nav-list>li:hover {
  color: var(--color-primary);
}

.btn-contact:hover {
  background: var(--color-primary);
}

/* end of header */


.about>.container {
  gap: 134px;
}

.about-card-list {
  width: 49%;
}

.about-card-item {
  width: 48%;

  border: 1px solid var(--color-grey);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

/* end of about */

.contact {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.contact>.container {
  padding-top: 129px;
  padding-bottom: 129px;

  gap: 113px;
}

/* end of contact */

.project-title {
  width: 57%;
}

.project-info {
  margin-bottom: 28px;
}

.btn-more-info {
  margin-top: 76px;
}

.btn-more-info:hover {
  color: var(--color-dark);
  background: var(--color-primary);
}

.contact-txt span {
  animation: shake 0.9s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(5px);
  }

  40% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}

/* end of project */