* {
  margin: 0;
  padding: 0;
  list-style: none;

  outline: 1px solid #f73;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --color-primary: #00FFA3;
  --color-secondary: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  ;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-dark: #15161D;
  --color-light: #D1D1D1;

  --txt-xl: 128px;
  --txt-lg: 40px;
  --txt-base: 32px;
  --txt-sm: 24px;
  --txt-xs: 20px;
}

html, body {
  font-family: 'Bruno Ace', cursive, 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: var(--txt-base);
  line-height: 1.5;

  color: var(--color-white);
  background: var(--color-black);
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

img:hover, a:hover {
  opacity: 0.9;
}

.material-symbols-outlined {
  font-size: inherit;
}

.h-full {
  height: 100%;
}

.w-half {
  width: 50%;
}

.w-two-fifth {
  width: 40%;
}


.p-4 {
  padding: 16px;
}


.pt-10 {
  padding-top: 40px;
}


.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-18 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-40 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}


.ml-1 {
  margin-left: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}



.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.font-xl {
  font-size: var(--txt-xl);
}

.font-xl-half {
  font-size: calc(var(--txt-xl) / 2);
}

.font-sm {
  font-size: var(--txt-sm);
}

.font-2xs {
  font-size: calc(var(--txt-base) / 2);
}




.text-primary {
  color: var(--color-primary);
}

.text-light {
  color: var(--color-light);
}

.text-dark {
  color: var(--color-dark);
}

/* #REVIEW */
.theme-white {
  color: var(--color-black);
  background: var(--color-white);
}

.border-radius-8 {
  border-radius: 32px;
}


/* end of base */

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* end of utility */

/* QQ */
.hero-img {
  /* width: 636px;
  height: 848px; */
}

.sparkle-sm {
  width: 128px;
  height: 98px;
}

.sparkle, .photographer {
  width: 196px;
  height: 600px;
}

.people-2 {
  width: 306px;
  height: 600px;
}

.intro {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/background-img.png);
}

/* end of img */

/* #REVIEW */
/* #1C1B1F */
.btn-contact .material-symbols-outlined {
  width: 24px;
  height: 24px;
}

.contact-txt .material-symbols-outlined {
  /* width: 100px;
  height: 100px; */
}

/* end of icons */

.nav {
  height: 88px;
}

.hero {
  height: calc(100vh - 88px);
}

/* end of header */


.about>.container {
  gap: 134px;
}

.about-card-list {
  width: 49%;
}

.about-card-item {
  width: 48%;
}

/* end of about */

.contact {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.contact>.container {
  padding-top: 129px;
  padding-bottom: 129px;

  gap: 113px;
}